html, body {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom, #e9b4ed, #8627b3);
    background-repeat: no-repeat;
    height: 970px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#welcomescreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .header > img {
    background-size: cover;
    position: absolute;
    /* width: 900px; */
    /* background-repeat: repeat-x;

} */

/* .header {
    background-image: url(confetti.png);
    background-repeat: repeat;
    width: 1920px;
    bottom: 200px;
    max-height: 300px;
    z-index: 0;
    background-size: 900px;
    /* display: flex;
    justify-content: center;
    background-position: top;
    background-size: cover; */
/* } */




.welcomeh3 {
    font-family: 'Advent Pro', sans-serif;
    padding-top: 215px;
    font-size: 52px;
    letter-spacing: 20px;
    word-spacing: 3px;
    text-align: center;
    text-shadow: -2px -2px 2px #f1c4f5;
}

.welcomeh2 {
    font-family: 'Atma', cursive;
    font-weight: 700;
    font-size: 250px;
    text-align: center;
    line-height: 275px;
    text-shadow: -4px -4px 7px #f1c4f5;
}

.letsgobtn {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    align-items: center;
}

.letsgobtn > button {
    border: none;
    background: none;
    font-family: 'Atma', cursive;
    font-weight: 300;
    font-size: 56px;
    color: #b1d94e;
    display: flex;
    align-items: center;
}



.letsgobtn > button:hover {
    text-shadow: -2px -2px 4px black;
    transform: scale(1.1);
}

.letsgobtn > button:focus {
    outline: none;
}



.title > h3 {
    font-family: 'Advent Pro', sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 10px 0 0 0;
}

.title > h2 {
    font-family: 'Atma', cursive;
    font-size: 60px;
    padding: 0px;
    margin: 0px;
    line-height: 65px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.pickCategory {
    padding-top: 150px;
    font-family: 'Crushed', cursive;
    letter-spacing: 24px;
    font-size: 32px;
}

.categoryButtons {
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

.categoryButtons > button {
    margin: 0px 30px;
}

.catbutton:hover {
    position: relative;
    top: -5px;
    right: 4px;
    box-shadow: none;
    text-shadow: 2px 2px 3px #666666;
    color: white;
}

.catbutton:focus {
    outline: 0;
}

.catbutton {
    background-color: #b1d94e;
    box-shadow: -7px -7px 1px #666666;
    border: none;
    border-radius: 30px;
    height: 60px;
    width: 250px;
    margin: 0px 10px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
}

.answers {
    display: flex;
    flex-direction: column;
}

.answers > button {
    min-height: 50px;
    height: auto;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    padding: 2px;
    border: 1px solid black;
}

.answers > button:hover {
    box-shadow: 1px 0 10px #8627b3;
}

.game {
    margin: 10px 150px;
    height: auto;
    width: 900px;
    display: flex;
    justify-content: space-around;
}


#left-container {
    width: 50%;
    height: auto;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#right-container {
    width: 50%;
    height: auto;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;


}

#img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
}

.Q {
    font-family: 'Atma', cursive;
    font-size: 36px;
}

#movietitle {
    font-family: 'Arimo', sans-serif;
    font-size: 24px;
}

#question {
    font-family: 'Arimo', sans-serif;
    flex-wrap: wrap;
    max-width: 350px;
    font-size: 20px;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
}

.modal-textbox {
    background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
    margin: 150px auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.footer {
    position: absolute;
    bottom: 30px;
    margin: auto 0;
}

.modal-footer {
    padding: 2%;
    line-height: 120%;
    text-align: right;
}

.correctCount {
    font-family: 'Advent Pro', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    word-spacing: 3px;
}

.body {
    display: none;
}
